.image-field {
	button {
		cursor: pointer;
		background-color: #edeff0;
		color: #32373c;
		width: 100%;
		text-align: center;
		border: 1px dashed #b4b9be;
		padding: 10px 6px;
		line-height: 1.6;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;

		img {
			display: block;
		}

		&.has-image {
			padding: 0;
			span {
				display: none;
			}
		}
	}
}
