.supt-customize-component-control__field.field-color {
	.field-color__custom-name {
		margin-bottom: 10px;
	}

	.field-color__input-wrapper {
		> input[type="color"] {
			max-width: 60px;
			margin-right: 10px;
		}
	}
}
