.select-color-field {
	select,
	input {
		margin-top: 5px !important;
	}

	&__legend {
		font-weight: 700;
		margin-bottom: 5px;
	}

	.optional {
		display: none;
	}
	.is-hidden {
		display: none !important;
	}
	.is-visible {
		display: block;
	}

	&__custom-select {
		+ .select2 {
			display: none;
			margin-top: 5px;
			margin-left: 1px;
			width: 100% !important;
			.select2-selection {
				font-size: 14px;
				border-color: #7e8993;
				height: 30px;
				border-radius: 3px;

				&__arrow {
					background: transparent url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 3px top 55%;
					background-size: 16px 16px;
					b {
						display: none;
					}
				}
			}
			&.select2-container--open {
				.select2-selection__arrow {
					transform: scaleY(-1);
				}
			}
			&:hover {
				.select2-selection__rendered {
					color: #007cba;
				}
			}
		}

		&.is-visible {
			+ .select2 {
				display: block;
			}
		}
	}

	.gradient {
		margin-top: 20px;
		&__picker {
			height: 30px;
		}
		&__picker-inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 10px;
			margin-top: 10px;
		}
	}
}

/* Select 2 options custom style */
.select2-dropdown {
	border-color: #7e8993;
}
.select2-results__option {
	.color-icon {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 15px;
		margin-right: 7px;
		margin-top: -2px;
	}

	&.select2-results__option--highlighted {
		background-color: #e8e8e8 !important;
		color: #444 !important;
	}
}
