.field-theme {
	&__custom-name {
		margin-bottom: 16px;

		&__label {
			font-weight: 600;
			display: block;
			margin-bottom: 5px;
		}
	}

	.select-color-field__legend {
		font-weight: 600;
	}

	&__delete-btn {
		display: block !important;
		margin: 8px 10px 5px auto !important;
	}
}
