.dimensions-field {
	border: 1px solid #ddd;

	&__legend {
		font-weight: bold;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
		row-gap: 4px;
		margin: 0 8px 8px;
	}

	&__item {
		position: relative;
		label {
			font-size: 12px;
		}

		input {
			display: block;
			width: 100%;
			font-size: 12px;
			min-height: 26px;
			padding-right: 0;
		}

		&[data-unit] {
			input {
				border-right: none;
				padding-right: 33px !important;
			}

			&::after {
				content: attr(data-unit);
				border: 1px solid #7e8993;
				border-radius: 0 4px 4px 0;
				background-color: #f5f5f5;
				padding: 0 8px;
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 14px;
				line-height: 1.5;
   			height: 24px;
			}
		}
	}
}
