.select-typography-field {
	&__legend {
		font-weight: 700;
		margin-bottom: 5px;
	}
	&__item {
		&.--text-align {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 10px;

			> span {
				flex-basis: 100%;
				display: block;
				margin-bottom: 5px;
			}
			> div {
				position: relative;
				flex: 0 0 15%;
				padding-top: 10%;
			}
			input {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;

				&:checked + label {
					box-shadow: 0 0 0 2px #007cba;
				}
			}
			label {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				font-size: 0;
				border-radius: 4px;

				box-shadow: 0 0 0 0;
				transition: box-shadow .2s ease-out;

				&::before {
					font-size: 1.5rem;
				}

				&:hover,
				&:focus-visible {
					box-shadow: 0 0 0 1px;
				}
			}
		}
	}
}
