@import "./fields/_loader.css";

.customize-control.customize-control-component {
	width: calc(100% + 24px);
	margin: 0 0 0 -12px;

	.supt-customize-component-control {
		border-top: 1px solid #ddd;
	}
	&:last-child {
		.supt-customize-component-control {
			border-bottom: 1px solid #ddd;
		}
	}
}

.supt-customize-component-control {
	&.is-open {
		.supt-customize-component-control__head {
			.dashicons {
				transform: scale3d(1, -1, 1);
			}
		}
	}
	&.is-hidden {
		display: none;
	}

	&__head {
		font-size: 14px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		padding: 10px 10px 11px 14px;
		color: #555d66;
		background-color: #fff;

		border: none;
		border-left: 4px solid #fff;

		transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out,
			0.15s border-color ease-in-out;

		cursor: pointer;

		&:hover {
			color: #0073aa;
			background: #f3f3f5;
			border-left-color: #0073aa;
		}

		&-title {
			font-weight: 600;
			line-height: 1.55;
		}

		.dashicons {
			transform: scale3d(1, 1, 1);
			transition: transform 0.2s ease-out;
		}

		+ .supt-customize-component-control__content > form {
			background-color: #fafafa;
		}
	}

	&__content {
		overflow: hidden;

		transition: height 0.4s ease-in-out;

		&[aria-hidden="true"] {
			height: 0px !important;
		}
	}

	&__inner {
		padding: 12px;
		background-color: #f1f1f1;
		border-top: 1px solid #eee;
	}

	&__desc {
		margin: 0;
	}

	&__fields {
	}

	&__field {
		width: 100%;

		& + & {
			margin-top: 16px;
		}

		> label {
			display: block;
			font-size: 14px;
			line-height: 1.75;
			font-weight: 600;
			margin-bottom: 4px;
		}

		input {
			margin: 0;
			appearance: none;

			padding: 0 8px;

			box-shadow: 0 0 0 transparent;
			border-radius: 4px;
			border: 1px solid #7e8993;
			background-color: #fff;
			color: #32373c;

			&[type="number"] {
				padding-right: 0;
			}
		}

		> input,
		.supt-customize-component-control__input-wrapper > input {
			width: 100%;
			font-size: 14px;
			line-height: 2;
			min-height: 30px;
		}
	}

	&__input-wrapper {
		display: flex;
	}
}

.supt-add-custom-typography-button,
.supt-add-custom-color-button,
.supt-add-theme-button {
	display: block !important;
	margin: 20px 0 0 auto !important;
}
