.field-typography {
	border: 1px solid #ddd;

	&__legend {
		font-weight: bold;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"family  family  family  family"
			"weight  weight  weight  weight"
			"minFs minFs maxFs maxFs"
			"minLh minLh maxLh maxLh"
			"minLs minLs maxLs maxLs"
			"mTop mTop mBottom mBottom"
			"transfm transfm transfm transfm";
		gap: 12px 8px;
		margin: 0 8px 8px;
	}

	&__item {
		label {
			font-size: 12px;
			font-weight: normal;
		}

		&-row {
			display: flex;
			align-items: stretch;

			span {
				background-color: #f5f5f5;
				border: 1px solid #7e8993;
				border-left: none;
				border-radius: 0 4px 4px 0;
				display: flex;
				align-items: center;
				padding: 0 8px;
				order: 1;
				font-size: 14px;
				line-height: 1.4;

				+ input {
					border-radius: 4px 0 0 4px;
				}
			}
		}

		/* Items' position */
		&.--font-family {
			grid-area: family;
		}
		&.--font-weight {
			grid-area: weight;
		}
		&.--font-size-min {
			grid-area: minFs;
		}
		&.--font-size-max {
			grid-area: maxFs;
		}
		&.--line-height-min {
			grid-area: minLh;
		}
		&.--line-height-max {
			grid-area: maxLh;
		}
		&.--letter-spacing-min {
			grid-area: minLs;
		}
		&.--letter-spacing-max {
			grid-area: maxLs;
		}
		&.--margin-top {
			grid-area: mTop;
		}
		&.--margin-bottom {
			grid-area: mBottom;
		}
		&.--text-transform {
			grid-area: transfm;
		}

		&.--letter-spacing {
			label {
				white-space: nowrap;
			}
		}
	}

	&__custom-name {
		margin: 10px 0;
		padding: 0 10px;

		&__label {
			font-weight: 600;
			display: block;
			margin-bottom: 5px;
		}
	}

	&__delete-btn {
		display: block !important;
		margin: 0 10px 5px auto !important;
	}
}
